:root{
  --primary-color:#c7a990;
}
body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
    }

    /* Sidebar */
    .sidebar {
    position: fixed;
    top: 8%;
    left: 12px;
    width: 78px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 0.3s;
    height: 84vh;
    box-shadow: 5px 5px 6px 5px #0000000a;
    border-radius: 18px;
    }
    .sidebar h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .sidebar a {
      display: block;
      padding: 12px 20px;
      color: #ddd;
      text-decoration: none;
      transition: background 0.3s;
      border-radius: 15%;
    }

    .sidebar a:hover,
    .sidebar a.active {
      background-color: #df6b6b;
    color: #fff;
    
    }

    body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
    }

    /* Sidebar */
    .sidebar {
    position: fixed;
    top: 8%;
    left: 12px;
    width: 78px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 0.3s;
    height: 84vh;
    box-shadow: 5px 5px 6px 5px #0000000a;
    border-radius: 18px;
    }
    .sidebar h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .sidebar a {
      display: block;
      padding: 12px 20px;
      color: #ddd;
      text-decoration: none;
      transition: background 0.3s;
      border-radius: 15%;
    }

    .sidebar a:hover,
    .sidebar a.active {
      background-color: var(--primary-color);
    color: #fff;
    }

    /* Main content */
    .content {
        margin-left: 12%;
        margin-right: 7%;
        padding-top: 0px;
        flex: 1;
    }

    section {
      /* min-height: 90vh; */
      padding: 40px;
      border-bottom: 1px solid #ccc;
      box-shadow: 5px 5px 6px 5px #0000000a;
      border-radius: 18px;
      margin-bottom: 2%;
    }

    section:nth-child(odd) {
      background: #ffffff;
    }

    section:nth-child(even) {
      background: #ffffff;
    }

    .modal-img-grid img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .carousel-item img {
      width: 100%;
      height: 80vh;
      object-fit: contain;
    }
    #contactForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60vh;
        
    }
    .btn-primary{
        width: 100px;
        background-color: var(--primary-color) !important;
        border: var(--primary-color) !important;
    }
    .card-img-top{
        border-radius: 0.375rem;
    }
     h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 25px;
        color: var(--primary-color);
      }
      .home-details{
        width: 28%;
        margin-left: 21%;
        height: 99.7%;
        position: absolute;
        left: 0px;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        padding: 0px 89px;
        background-color: #00000094;
      }
      #home img{
        height: 100vh;
      }
      #home h1{
        color: white;
        text-align: left;
        font-size: 70px;
      }
      #p007{
              height:  261.612px !important;;
        }
      @media only screen and (max-width: 1024px) {
        .home-details{
                width: 34%;
        height: 75%;
        padding: 37px;
        }
        #home img {
          height: 75vh;
        }
        #p007{
              height:  178.637px !important;;
        }
        #aboutsvg{
          width: 330px;
        }
        #contsvg{
          width: 280px;
        }
      }
      @media only screen and (max-width: 768px) {
        .home-details{
                width: 34%;
        height: 75%;
        padding: 37px;
        }
        .sidebar{
          display: none;
        }
        .content{
          margin-left: 0px;
          margin-right: 0px;
        }
         #aboutsvg{
          width: 330px;
        }
        #contsvg{
          width: 280px;
        }
        #p007{
              height: 149.1px !important;
        }
      }
      @media only screen and (max-width: 600px) {
        .home-details{
                         width: 36%;
        height: 57%;
        padding: 27px;
        }
        .sidebar{
          display: none;
        }
        .content{
          margin-left: 0px;
          margin-right: 0px;
        }
            #home img {
              height: 57vh;
          }
          #home h1{
            font-size: 33px;
          }
          #home h3{
            font-size: 10px;
          }
          #home h5{
            font-size: 6px;
          }

      }
      
      
